@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::selection{
  background: #ddd;
}

*{
  margin:0;
  padding:0;
}
body{
  font-family: 'poppins', sans-serif;
}

/*-------------------- Header area --------------------*/
.header_content{
  box-sizing: border-box;
  /* background: teal; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  overflow: hidden;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}
h1{
  color: #000;
  margin-left: 5%;
  cursor: pointer;
}
.main_menu{
  margin-right: 5%;
}
.main_menu ul{
  list-style: none;
}
.main_menu li{
  display: inline-block;
  transition: 0.3s;
}
.main_menu li a{
  display: block;
  text-decoration: none;
  color:#000;
  padding: 10px 20px;
}
.main_menu li:hover{
  background: #ddd;
  border-radius: 5px;
}
.main_menu ul li .cursor{
  cursor: pointer;
}
/*--------------------Content--------------------*/
.container{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_area{
  width: 50%;
  height: 50%;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0 5px 10px #00000079;
}
h3{
  padding: 40px;
}
.signup_area{
  display: grid;
  justify-content: center;
  align-items: center;
}
.signup_area p{
  margin: 0 20px;
}
.signup_area .signup_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.signup_area a{
  display: block;
  background: #2e2e2e;
  text-align: center;
  padding: 15px 40px;
  margin: 40px 0;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s;
}
.signup_area a:hover{
  background: #000;
  transform: translateY(-2px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.445);
}
/* ---------- footer ---------- */
footer{
  box-sizing: border-box;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #ddd;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.15);
}