@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::selection{
  background: #ddd;
}

*{
  margin:0;
  padding:0;
}
body{
  font-family: 'poppins', sans-serif;
}

/*-------------------- Header area --------------------*/
.header_content{
  box-sizing: border-box;
  /* background: teal; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  overflow: hidden;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}
h1{
  margin-left: 5%;
}
h1 a{
  color: #000;
  text-decoration: none;
}
.main_menu{
  margin-right: 5%;
}
.main_menu ul{
  list-style: none;
}
.main_menu li{
  display: inline-block;
  transition: 0.3s;
  border-radius: 5px;
}
.main_menu ul .selected{
  background: #ddd;
}
.main_menu li a{
  display: block;
  text-decoration: none;
  color:#000;
  padding: 10px 20px;
}
.main_menu li:hover{
  background: #ddd;
  border-radius: 5px;
}

/* ---------- content ---------- */
.container{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service_menu{
  width: 70%;
  max-width: 1200px;
}
.service_menu ul{
  /* background: red; */
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.service_menu li{
  background: black;
  border-radius: 5px;
  border: 2px solid black;
  transition: 0.5s;
  position: relative;
  margin: 70px;
}
.service_menu li a{
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  transition: 0.5s;
}
.service_menu li:hover{
  background: #fff;
}
.service_menu li a:hover{
  color: #000;
}


/* ---------- footer ---------- */
footer{
  box-sizing: border-box;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #ddd;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.15);
}