@keyframes RotatingFan{
  0%{
    transform: rotate(0);
  }

  100%{
    transform: rotate(-720deg);
  }
}

@keyframes boxs{
  0%{
    transform: rotate(0);
  }

  100%{
    transform: rotate(360deg);
  }
}

body{
  margin: 0;
}
.container{
  background: #b2d7e9;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  background: #fff;
  height: 200px;
  width: 200px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: boxs 5s linear infinite; /* shorthand*/
}
i{
  font-size: 100px;
  opacity: 0.5;
  /* animation: RotatingFan 3s  infinite linear; */
  animation-name: RotatingFan;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
